#color-btn-area {
    padding: 10px;
    justify-content: center;
    width: auto;
}

.color-btn {
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 130px;
    border-radius: 50px;
    font-family: "Rubik", sans-serif;
}