.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

#text-area{
    height: 80px;
    width: 500px;
    border: none;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: 15px auto;
}


.text-box {
    width: 350px;
    max-width: 80%;
    height: 16px;
    margin-bottom: 50px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: black;
    margin: 20px auto;
    text-align: center;
}

#text-area-dr{
    height: 80px;
    width: 500px;
    border: none;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: -16px;
}

.text-box-dr {
    width: 160px;
    max-width: 80%;
    height: 16px;
    margin-bottom: 50px;
    padding: 15px;
    border: 1px solid #00ff8c;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: black;
    margin: 20px auto;
    text-align: center;
}

#text-box-p {
    display: flex;
    margin: -13px auto;
    font-size: smaller;
}

.button1 {
    height: 18px;
    width: 50px;
    padding: 15px;
    background-color: #007BFF;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px auto;
    text-align: center;
}

.button1:hover {
    background-color: #0056b3;
}

#super-h1 {
    font-size: 50px;
    font-weight: bold;
}

#hud-h2 {
    font-size: 30px;
    font-weight: bold;
}

/* Estilos para mensagens do chatbot numérico */

.user-message3-exemplo, .bot-message3-exemplo {
    background-color: #d1e7dd;
    margin: 20px;
    width: 550px;
    max-width: 70%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow-wrap: break-word; /* Força a quebra de palavras longas */
    word-wrap: break-word; /* Compatibilidade adicional */
    white-space: pre-wrap; /* Mantém quebras de linha e força novas */
    line-height: 1.5;
}

.user-message3-exemplo {
    background-color: #d1e7dd;
    margin-left: auto;
    text-align: left;
    color: black;
}

.bot-message3-exemplo {
    background-color: #00ff8c;
    color: black;
    margin-right: auto;
    text-align: left;
}

#chat-window-2-exemplo {
    height: 200px;
    width: 560px;
    padding: 10px;
    border: 1px solid #00ff8c;
    border-radius: 15px;
    margin: 0 auto;
}