/* Estilo para as abas */
.tab-convert {
    display: flex;
    padding: 4px;
    border: none;
    justify-content: center;
}

.tab-convert button {
    padding: 6px 11px;
    background-color: #fcfcfc;
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    align-items: center;
    font-family: "Rubik", sans-serif;
}

.tab-convert button:hover {
    background-color: #009c56; 
    border: 1px solid #009c56;
}

.tab-convert button.active {
    background-color: #00ff8c;
    color: black;
}

/* Estilo para o conteúdo das abas */
.tab-content1 {
    display: none; 
}
.tab-content1.active {
    display: block;
}