@media (max-width: 1000px) {
    #chat-window-2 {
        width: 400px;
    }

    #chat-window-3 {
        width: 400px;
    }

    #user-input-1 {
        width: 250px;
    }

    #user-input-2 {
        width: 250px;
    }

    .user-message, .bot-message {
        border-radius: 20px;
    }

    iframe {
        width: 250px;
        height: 150px;
    }

    .notification {
        padding: 2px;
    }

    #toggleBtn {
        padding: 10px;
        top: 7px;
        left: 7px;
    }
}